.box {
    top: 0px;
    left: 0px;
    max-width: 1366px;
    height: 768px;
    
}

.my-carrusel {
    position: absolute;
    top: 0;
    width: 1366px;
}

.navbar{
    position: absolute;
    height: 96px;
    border-bottom: #E0752F solid 2px;
    width: 1366px;
    z-index: 999;
    background: none;
    
}

.items{
    display: flex;
    padding-left: 10px;
}

.lista{
    display: flex;
}

.lista:hover{
    transform: scale(1.07);
    text-decoration: none;
}

.lista2{
    display: flex;
    padding-left: 24px;   
}

.texto{
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 24px;
    padding-top: 33px;
}
.logo{
    display: flex;
    width: 128,5px;
    height: 30px;
    padding-left: 85px;
}



 
.margen{
    position: absolute;
    margin-top: 250px;
    margin-left: 100px;
    z-index: 999;
}
.texto{
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
}

.ha1{
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0-67);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;
    

}
.home{
    top: 38px;
    left: 811px;
    width: 42px;
    height: 21px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
}
.ha3{
    top: 399px;
    left: 101px;
    width: 343px;
    height: 42px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
}
.border{
    border-color: bisque 2px;
    width: 1366px;
    height: 672px;
}
.btnread{
    border-radius: 25px;
    width: 144px;
    height: 48px;
    text-align: center;
    color: #FFFFFF;
    background-color: #E0752F;
    opacity: 1;
    font-size: 16px;
    position: relative;
    margin-top: 50px;
}

.btnread:hover{
    transform: scale(1.07);
    
} 